--
-- PostgreSQL database dump
--

\restrict RbdcxiXSvSeW08vyI44NUkr4EJaDBAlb4sLdFJHYTsQFOAPQHxEcDVamw08iNdh

-- Dumped from database version 13.22 (Debian 13.22-1.pgdg13+1)
-- Dumped by pg_dump version 13.22 (Debian 13.22-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: nettoyer_prix(character varying); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.nettoyer_prix(prix_text character varying) RETURNS numeric
    LANGUAGE plpgsql
    AS $$

BEGIN

    -- Supprimer les espaces ins├®cables, symboles Ôé¼ et espaces normaux

    RETURN NULLIF(REPLACE(REPLACE(REPLACE(COALESCE(prix_text, ''), 'Ôé¼', ''), 'ÔÇ»', ''), ' ', ''), '')::DECIMAL;

EXCEPTION

    WHEN OTHERS THEN

        RETURN NULL;

END;

$$;


ALTER FUNCTION public.nettoyer_prix(prix_text character varying) OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: annonces; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.annonces (
    id_annonce integer NOT NULL,
    reference character varying(50) NOT NULL,
    titre character varying(255) NOT NULL,
    prix numeric(12,2),
    prix_au_m2 numeric(10,2),
    localisation character varying(255),
    surface numeric(8,2),
    pieces integer,
    type_bien character varying(100),
    description text,
    annee_construction integer,
    nombre_photos integer DEFAULT 0,
    lien character varying(500),
    date_extraction timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    dpe_classe_energie character varying(1),
    ges_classe character varying(1),
    conseiller_nom character varying(255),
    conseiller_telephone character varying(20),
    CONSTRAINT chk_dpe_classe CHECK (((dpe_classe_energie)::text = ANY ((ARRAY['A'::character varying, 'B'::character varying, 'C'::character varying, 'D'::character varying, 'E'::character varying, 'F'::character varying, 'G'::character varying])::text[]))),
    CONSTRAINT chk_ges_classe CHECK (((ges_classe)::text = ANY ((ARRAY['A'::character varying, 'B'::character varying, 'C'::character varying, 'D'::character varying, 'E'::character varying, 'F'::character varying, 'G'::character varying])::text[]))),
    CONSTRAINT chk_pieces_positif CHECK ((pieces > 0)),
    CONSTRAINT chk_prix_positif CHECK ((prix > (0)::numeric)),
    CONSTRAINT chk_surface_positif CHECK ((surface > (0)::numeric))
);


ALTER TABLE public.annonces OWNER TO admin;

--
-- Name: annonces_complete; Type: VIEW; Schema: public; Owner: admin
--

CREATE VIEW public.annonces_complete AS
 SELECT a.id_annonce,
    a.reference,
    a.titre,
    a.prix,
    a.prix_au_m2,
    a.localisation,
    a.surface,
    a.pieces,
    a.type_bien,
    a.description,
    a.annee_construction,
    a.nombre_photos,
    a.lien,
    a.date_extraction,
    a.dpe_classe_energie,
    a.ges_classe,
    a.conseiller_nom,
    a.conseiller_telephone,
        CASE
            WHEN ((a.prix_au_m2 IS NULL) AND (a.surface > (0)::numeric)) THEN round((a.prix / a.surface), 2)
            ELSE a.prix_au_m2
        END AS prix_au_m2_calcule
   FROM public.annonces a
  WHERE ((a.prix IS NOT NULL) AND (a.surface IS NOT NULL));


ALTER TABLE public.annonces_complete OWNER TO admin;

--
-- Name: annonces_id_annonce_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.annonces_id_annonce_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.annonces_id_annonce_seq OWNER TO admin;

--
-- Name: annonces_id_annonce_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.annonces_id_annonce_seq OWNED BY public.annonces.id_annonce;


--
-- Name: caracteristiques; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.caracteristiques (
    id_caracteristique integer NOT NULL,
    id_annonce integer NOT NULL,
    valeur character varying(255) NOT NULL
);


ALTER TABLE public.caracteristiques OWNER TO admin;

--
-- Name: caracteristiques_id_caracteristique_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.caracteristiques_id_caracteristique_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.caracteristiques_id_caracteristique_seq OWNER TO admin;

--
-- Name: caracteristiques_id_caracteristique_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.caracteristiques_id_caracteristique_seq OWNED BY public.caracteristiques.id_caracteristique;


--
-- Name: images; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.images (
    id_image integer NOT NULL,
    id_annonce integer NOT NULL,
    url character varying(500) NOT NULL,
    ordre integer DEFAULT 0
);


ALTER TABLE public.images OWNER TO admin;

--
-- Name: images_id_image_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.images_id_image_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.images_id_image_seq OWNER TO admin;

--
-- Name: images_id_image_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.images_id_image_seq OWNED BY public.images.id_image;


--
-- Name: v_stats_dpe; Type: VIEW; Schema: public; Owner: admin
--

CREATE VIEW public.v_stats_dpe AS
 SELECT annonces.dpe_classe_energie,
    count(*) AS nombre_annonces,
    round(avg(annonces.prix), 2) AS prix_moyen
   FROM public.annonces
  WHERE (annonces.dpe_classe_energie IS NOT NULL)
  GROUP BY annonces.dpe_classe_energie
  ORDER BY annonces.dpe_classe_energie;


ALTER TABLE public.v_stats_dpe OWNER TO admin;

--
-- Name: v_stats_localisation; Type: VIEW; Schema: public; Owner: admin
--

CREATE VIEW public.v_stats_localisation AS
 SELECT annonces.localisation,
    count(*) AS nombre_annonces,
    round(avg(annonces.prix), 2) AS prix_moyen,
    round(avg(annonces.surface), 2) AS surface_moyenne
   FROM public.annonces
  GROUP BY annonces.localisation
  ORDER BY (round(avg(annonces.prix), 2)) DESC;


ALTER TABLE public.v_stats_localisation OWNER TO admin;

--
-- Name: v_stats_pieces; Type: VIEW; Schema: public; Owner: admin
--

CREATE VIEW public.v_stats_pieces AS
 SELECT annonces.pieces,
    count(*) AS nombre_annonces,
    round(avg(annonces.prix), 2) AS prix_moyen,
    round(avg(annonces.surface), 2) AS surface_moyenne
   FROM public.annonces
  WHERE (annonces.pieces IS NOT NULL)
  GROUP BY annonces.pieces
  ORDER BY annonces.pieces;


ALTER TABLE public.v_stats_pieces OWNER TO admin;

--
-- Name: v_stats_type_bien; Type: VIEW; Schema: public; Owner: admin
--

CREATE VIEW public.v_stats_type_bien AS
 SELECT annonces.type_bien,
    count(*) AS nombre_annonces,
    round(avg(annonces.prix), 2) AS prix_moyen,
    round(avg(annonces.prix_au_m2), 2) AS prix_m2_moyen,
    round(min(annonces.prix), 2) AS prix_min,
    round(max(annonces.prix), 2) AS prix_max
   FROM public.annonces
  WHERE (annonces.prix IS NOT NULL)
  GROUP BY annonces.type_bien
  ORDER BY (count(*)) DESC;


ALTER TABLE public.v_stats_type_bien OWNER TO admin;

--
-- Name: annonces id_annonce; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.annonces ALTER COLUMN id_annonce SET DEFAULT nextval('public.annonces_id_annonce_seq'::regclass);


--
-- Name: caracteristiques id_caracteristique; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.caracteristiques ALTER COLUMN id_caracteristique SET DEFAULT nextval('public.caracteristiques_id_caracteristique_seq'::regclass);


--
-- Name: images id_image; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.images ALTER COLUMN id_image SET DEFAULT nextval('public.images_id_image_seq'::regclass);


--
-- Data for Name: annonces; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: caracteristiques; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.caracteristiques (id_caracteristique, id_annonce, valeur) FROM stdin;
1	1	3 pi├¿ces
2	1	39 m┬▓
3	1	Cave
4	1	Chauffage ├ëlectrique
5	1	├ëtage 5/6
6	2	4 pi├¿ces
7	2	69 m┬▓
8	2	Jardin
9	2	Garage
10	2	Chauffage Gaz
11	3	1 pi├¿ce
12	3	20 m┬▓
13	3	Neuf
14	3	Mezzanine
\.


--
-- Data for Name: images; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.images (id_image, id_annonce, url, ordre) FROM stdin;
1	1	https://images.iadfrance.fr/property/broadcast/2025/11/11/photo1.jpg	1
2	1	https://images.iadfrance.fr/property/broadcast/2025/11/11/photo2.jpg	2
3	2	https://images.iadfrance.fr/property/broadcast/2025/11/11/photo3.jpg	1
4	2	https://images.iadfrance.fr/property/broadcast/2025/11/11/photo4.jpg	2
5	3	https://images.iadfrance.fr/property/broadcast/2025/11/11/photo5.jpg	1
\.


--
-- Name: annonces_id_annonce_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.annonces_id_annonce_seq', 3, true);


--
-- Name: caracteristiques_id_caracteristique_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.caracteristiques_id_caracteristique_seq', 14, true);


--
-- Name: images_id_image_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.images_id_image_seq', 5, true);


--
-- Name: annonces annonces_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.annonces
    ADD CONSTRAINT annonces_pkey PRIMARY KEY (id_annonce);


--
-- Name: annonces annonces_reference_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.annonces
    ADD CONSTRAINT annonces_reference_key UNIQUE (reference);


--
-- Name: caracteristiques caracteristiques_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.caracteristiques
    ADD CONSTRAINT caracteristiques_pkey PRIMARY KEY (id_caracteristique);


--
-- Name: images images_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.images
    ADD CONSTRAINT images_pkey PRIMARY KEY (id_image);


--
-- Name: idx_annonces_dpe; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_annonces_dpe ON public.annonces USING btree (dpe_classe_energie);


--
-- Name: idx_annonces_localisation; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_annonces_localisation ON public.annonces USING btree (localisation);


--
-- Name: idx_annonces_prix; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_annonces_prix ON public.annonces USING btree (prix);


--
-- Name: idx_annonces_surface; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_annonces_surface ON public.annonces USING btree (surface);


--
-- Name: idx_annonces_type; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_annonces_type ON public.annonces USING btree (type_bien);


--
-- Name: idx_caracteristiques_annonce; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_caracteristiques_annonce ON public.caracteristiques USING btree (id_annonce);


--
-- Name: idx_images_annonce; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_images_annonce ON public.images USING btree (id_annonce);


--
-- Name: caracteristiques caracteristiques_id_annonce_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.caracteristiques
    ADD CONSTRAINT caracteristiques_id_annonce_fkey FOREIGN KEY (id_annonce) REFERENCES public.annonces(id_annonce) ON DELETE CASCADE;


--
-- Name: images images_id_annonce_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.images
    ADD CONSTRAINT images_id_annonce_fkey FOREIGN KEY (id_annonce) REFERENCES public.annonces(id_annonce) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict RbdcxiXSvSeW08vyI44NUkr4EJaDBAlb4sLdFJHYTsQFOAPQHxEcDVamw08iNdh

