services:
  # Services Airflow
  airflow:
    extends:
      file: ./services/airflow/docker-compose.yml
      service: airflow-webserver
    env_file:
      - ./services/airflow/.env
    networks:
      - imo-ops-network
    profiles: ["airflow"]

  airflow-scheduler:
    extends:
      file: ./services/airflow/docker-compose.yml
      service: airflow-scheduler
    env_file:
      - ./services/airflow/.env
    networks:
      - imo-ops-network
    profiles: ["airflow"]

  airflow-worker:
    extends:
      file: ./services/airflow/docker-compose.yml
      service: airflow-worker
    env_file:
      - ./services/airflow/.env
    networks:
      - imo-ops-network
    profiles: ["airflow"]

  airflow-init:
    extends:
      file: ./services/airflow/docker-compose.yml
      service: airflow-init
    env_file:
      - ./services/airflow/.env
    networks:
      - imo-ops-network
    profiles: ["airflow"]

  airflow-triggerer:
    extends:
      file: ./services/airflow/docker-compose.yml
      service: airflow-triggerer
    env_file:
      - ./services/airflow/.env
    networks:
      - imo-ops-network
    profiles: ["airflow"]

  # Services de base Airflow
  postgres:
    extends:
      file: ./services/airflow/docker-compose.yml
      service: postgres
    env_file:
      - ./services/airflow/.env
    networks:
      - imo-ops-network
    profiles: ["airflow"]

  redis:
    extends:
      file: ./services/airflow/docker-compose.yml
      service: redis
    env_file:
      - ./services/airflow/.env
    networks:
      - imo-ops-network
    profiles: ["airflow"]

  pgadmin:
    extends:
      file: ./services/airflow/docker-compose.yml
      service: pgadmin
    env_file:
      - ./services/airflow/.env
    networks:
      - imo-ops-network
    profiles: ["airflow"]

  mongodb:
    extends:
      file: ./services/mongodb/docker-compose.yml
      service: mongodb
    env_file:
      - ./services/mongodb/.env
    networks:
      - imo-ops-network
    profiles: ["mongodb"]

  gradio_sql:
    build: ./services/gradio_sql
    container_name: app_gradio_sql
    environment:
      IMO_URL: ${IMO_URL:-postgresql://imo_user:password@postgres:5432/imo_db}
    ports:
      - "7860:7860"
    networks:
      - imo-ops-network
    profiles: ["gradio"]
      
  # Services Spark
  spark-master:
    extends:
      file: ./services/spark/docker-compose.yml
      service: spark-master
    env_file:
      - ./services/spark/.env
    networks:
      - imo-ops-network
    profiles: ["spark"]

  spark-worker:
    extends:
      file: ./services/spark/docker-compose.yml
      service: spark-worker
    env_file:
      - ./services/spark/.env
    networks:
      - imo-ops-network
    profiles: ["spark"]

  spark-history-server:
    extends:
      file: ./services/spark/docker-compose.yml
      service: spark-history-server
    env_file:
      - ./services/spark/.env
    networks:
      - imo-ops-network
    profiles: ["spark"]

  spark-submit:
    extends:
      file: ./services/spark/docker-compose.yml
      service: spark-submit
    env_file:
      - ./services/spark/.env
    networks:
      - imo-ops-network
    profiles: ["spark"]


  # Services de scraping
  iad-scraper:
    build: ./services/c1_scrap
    container_name: iad-scraper
    volumes:
      - ./services/c1_scrap/results:/app/results
      - ./services/c1_scrap/config.json:/app/config.json
      - ./services/c1_scrap/logs:/app/logs
    networks:
      - imo-ops-network
    profiles: ["scraping"]
    restart: unless-stopped

networks:
  imo-ops-network:
    driver: bridge

volumes:
  postgres-db-volume:
  pgadmin-data:
  mongo_data:
  redis-data:
  spark-events: