services:
  # Services Airflow
  airflow:
    extends:
      file: ./services/airflow/docker-compose.yml
      service: airflow-webserver
    env_file:
      - ./services/airflow/.env
    networks:
      - imo-ops-network
    profiles: ["airflow"]

  airflow-scheduler:
    extends:
      file: ./services/airflow/docker-compose.yml
      service: airflow-scheduler
    env_file:
      - ./services/airflow/.env
    networks:
      - imo-ops-network
    profiles: ["airflow"]

  airflow-worker:
    extends:
      file: ./services/airflow/docker-compose.yml
      service: airflow-worker
    env_file:
      - ./services/airflow/.env
    networks:
      - imo-ops-network
    profiles: ["airflow"]

  airflow-init:
    extends:
      file: ./services/airflow/docker-compose.yml
      service: airflow-init
    env_file:
      - ./services/airflow/.env
    networks:
      - imo-ops-network
    profiles: ["airflow"]

  airflow-triggerer:
    extends:
      file: ./services/airflow/docker-compose.yml
      service: airflow-triggerer
    env_file:
      - ./services/airflow/.env
    networks:
      - imo-ops-network
    profiles: ["airflow"]

  # Services de base Airflow
  postgres:
    extends:
      file: ./services/airflow/docker-compose.yml
      service: postgres
    env_file:
      - ./services/airflow/.env
    networks:
      - imo-ops-network
    profiles: ["airflow"]

  redis:
    extends:
      file: ./services/airflow/docker-compose.yml
      service: redis
    env_file:
      - ./services/airflow/.env
    networks:
      - imo-ops-network
    profiles: ["airflow"]

  pgadmin:
    extends:
      file: ./services/airflow/docker-compose.yml
      service: pgadmin
    env_file:
      - ./services/airflow/.env
    networks:
      - imo-ops-network
    profiles: ["airflow"]
  mongodb:
    extends:
      file: ./services/mongodb/docker-compose.yml
      service: mongodb
    env_file:
      - ./services/mongodb/.env
    networks:
      - imo-ops-network

  gradio_sql:
    build: ./services/gradio_sql
    container_name: app_gradio_sql
    environment:
      IMO_URL: ${IMO_URL:-postgresql://imo_user:password@postgres:5432/imo_db}
    ports:
      - "7860:7860"
    networks:
      - imo-ops-network
      
networks:
  imo-ops-network:
    driver: bridge

volumes:
  postgres-db-volume:
  pgadmin-data:
  mongo_data:
  redis-data: