services:
  grafana:
    image: grafana/grafana
    container_name: app_grafana
    ports:
      - "3000:3000"
    volumes:
       - grafana_data:/var/lib/grafana
    depends_on:
      - postgres
      
  networks:
    imo-ops-network:
      driver: bridge

  volumes:
    grafana_data:
