services:
  postgres:
    build: .
    container_name: db_databox
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - databox_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres} -d postgres"]
      interval: 10s
      retries: 5
      start_period: 30s
    restart: always

volumes:
  postgres_data:

networks:
  databox_network:
    driver: bridge